h1 {
  text-align: center;
}

co-weather-widget {
  background-color: red;
}

co-weather-widget ul {
  margin: 0;
  padding: 0;
}

co-weather-widget ul li {
  list-style: none;
  padding: 10px;
  text-align: center;
}

co-weather-widget ul li:nth-child(odd) {
  background-color: #ebebeb;
}

co-weather-widget strong {
  font-size: 23px;
}
