<ul>
  <li ng-show="vm.isLoading">Getting data from satellite, please wait...</li>
  <li ng-repeat="station in vm.bestStations">
    <strong>{{station.name}}</strong> {{station.main.temp}}°C, {{station.main.humidity}}% humidity
  </li>
</ul>